html,
body {
	min-height: 100%;
	height: 100%;
	background-image: linear-gradient(
		to bottom,
		rgb(24, 112, 243),
		rgb(164, 192, 230)
	);
}
.list-btn {
	text-align: center;
	overflow-y: scroll;
	max-height: 620px;
}
.input-wrapper {
	text-align: center;
	display: flex;
	flex-direction: column;
	background-color: rgb(216, 217, 231);
	width: 800px;
	margin: auto;
	border-radius: 8px;
}
.input-container {
	margin-bottom: 15px;
	margin-top: 15px;
}
.input-template-name,
.input-from-email,
.input-to-email,
.input-subject-name,
.input-email-subject {
	border-radius: 15px;
	height: 30px;
	width: 700px;
	border-width: 0px;
	padding-left: 10px;
}
.input-html {
	border-radius: 15px;
	height: 200px;
	width: 700px;
	padding-top: 10px;
	padding-left: 10px;
	border-width: 0px;
}
.input-text,
.input-email-body {
	border-radius: 15px;
	height: 100px;
	width: 700px;
	padding-top: 10px;
	padding-left: 10px;
	border-width: 0px;
}
.btn {
	height: 30px;
	width: 150px;
	background-color: rgb(161, 223, 161);
	border-width: 0px;
	border-radius: 5px;
	margin-bottom: 20px;
}
.btn:hover {
	background-color: rgb(116, 221, 116);
}
.input-template-name:focus,
.input-from-email:focus,
.input-to-email:focus,
.input-subject-name:focus,
.input-email-subject:focus,
.input-html:focus,
.input-text:focus,
.input-email-body:focus {
	outline: none !important;
	box-shadow: 0 0 8px #158f39;
}
.data-container {
	background-color: rgb(223, 208, 208);
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-radius: 10px;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-size: large;
}

.data-container:hover {
	background-color: rgb(196, 214, 168);
}
@media only screen and (max-width: 900px) {
	.input-wrapper {
		width: 500px;
	}
	.input-template-name,
	.input-subject-name,
	.input-html,
	.input-text,
	.input-from-email,
	.input-to-email,
	.input-email-body,
	.input-email-subject {
		width: 400px;
	}
}
@media only screen and (max-width: 600px) {
	.input-wrapper {
		width: 400px;
	}
	.input-template-name,
	.input-subject-name,
	.input-html,
	.input-text,
	.input-from-email,
	.input-to-email,
	.input-email-body,
	.input-email-subject {
		width: 300px;
	}
}
