ul {
    list-style-type: none;
}
.navbar{
    display: flex;
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
    margin-bottom: 30px;
    justify-content: center;
}
.nav-link{
    display: flex;
    flex-direction: row;
    padding: 20px 0px 20px 30px;
}
.template{
    text-align: center;
    background-color: rgb(250, 250, 250);
    padding: 5px 5px 5px 5px;
    padding-right: 20px;
    margin-right: 40px;
    border-radius: 5px;
    text-decoration: none;
}
.list-item{
    color: rgb(69, 70, 58);
    margin: 0px 20px 0px 20px;
}
@media only screen and (max-width: 900px) {
    .template{
        margin-bottom: 5px;
    }
    .list-item{
        width: 40px;
        margin: 0px 5px 0px 5px;
    }
  }